p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    color: darkred;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: blue;
    text-decoration: nome;
}
ul {
    list-style-type: square;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
